@import './vars';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $navbar-height;
  position: fixed;
  z-index: 2;
  font-family: $title-font;
  padding: 0 1rem;
  background-color: $background-color;
  color: $red;
  &__logo {
    font-size: 2rem;
    text-decoration: none;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-decoration: none;
      color: $red;
      font-size: 1.5rem;
    }
  }
}
